<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <link href='~/Content/layout.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Script1.js"></script>
    <link href='~/fonts/glyphicons-halflings-regular.ttf' rel='stylesheet' type='text/css'>
    <link href='~/fonts/glyphicons-halflings-regular.woff' rel='stylesheet' type='text/css'>
    <link href='~/fonts/glyphicons-halflings-regular.woff2' rel='stylesheet' type='text/css'>


    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header-nav">
        <nav class="navbar navbar-expand-sm navbar-inverse  d-flex justify-content-between nav-layout" margin="none">
            <div class="container-fluid">
                <div class="nav-item">
                    <a href="#" class="navbar-brand"><img src="~/imgs/logo.jpg" width="30" height="30" alt="logo"></a>
                    <a class="navbar-brand" href="#">PHÚC THẢO</a>
                </div>
               <<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Danh mục quản lý
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a @Html.ActionLink("Đơn hàng nhập","")> </a></li>
                            <li><a href="#">Đơn hàng xuất</a></li>
                            <li><a href="#">Mẫu hàng</a></li>
                            <li><a href="#">Hàng</a></li>
                            <li><a href="#">Nhà cung cấp</a></li>
                            <li><a href="#">Nhóm hàng</a></li>
                            <li><a href="#">Khách hàng</a></li>
                            <li><a href="">@Html.ActionLink("Người dùng", "Index", "NguoiDungs")</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <form class="navbar-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập gì đó">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search" />
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            *tên nhân viên*
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu text-left">
                            <li><a href="#" class="dropdown-item text-info">Hồ sơ chi tiết</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a href="#" class="dropdown-item text-info">Đăng xuất <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div id="wrapper">
        <div id="sidebar-wrapper" style="z-index: unset;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Tiện ích
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle dropdown-menu-right" data-toggle="dropdown">
                        Báo cáo doanh thu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown pull-right">
                        <li><a href="#">Doanh thu ngày</a></li>
                        <li><a href="#">Doanh thu tuần</a></li>
                        <li><a href="#">Doanh thu tháng</a></li>
                        <li><a href="#">Doanh thu năm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Tạo hóa đơn</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
        <div class="foott jumbotron text-center">
            <h2>Thiết kế bởi: 5 anh em siêu nhân - 59_CNTT2</h2><br>
            <a href="#">Donate tại đây!</a><br>
            <a href="#">Thông tin team chúng tôi</a><br>
            <a href="#">Liên hệ</a><br>
            <a href="#">văn phòng: 02 Đoàn Trần Nghiệp, Nha Trang.</a><br>
            <b>Copyright www.w3schools.com/bootstrap4</b><br>
            <p>
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12 py-2">
                        <h2>THEO DÕI CHÚNG TÔI TRÊN: </h2>
                        <div class="mb-2 flex-center">
                            <!-- Twitter -->
                            <a class="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- Google +-->
                            <a class="">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                            <!--Instagram-->
                            <a class="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <!--Pinterest-->
                            <a class="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
